@model Chaka.ViewModels.SystemAdmin.ResponsibilityGroup.CreateEditRespGroupDetailViewModel

@using Kendo.Mvc.UI
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addEditForm", name = "addEditForm" }))
{
    @Html.HiddenFor(m => m.ID)

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">@Html.LabelFor(m => m.ResponsibilityID) </div>
            <div class="col-md-8">
                <span class="required-field"><i class="fa fa-asterisk"></i></span>
                @(Html.Kendo().DropDownListFor(x => x.ResponsibilityID)
                          .HtmlAttributes(new { style = "width:100%", @class = "form-control" })
                          .OptionLabel("Select Category Level...")
                      .DataTextField("Text")
                      .DataValueField("Value").Filter(FilterType.Contains)
                      .DataSource(source =>
                      {
                            source.Read(read =>
                            {
                                read.Action("GetResponsibility", "ResponsibilityGroup");
                            });
                      })
                )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">@Html.LabelFor(m => m.IsActive)</div>
            <div class="col-md-8">
                @Html.Kendo().CheckBoxFor(m => m.IsActive)
                <input type="hidden" name="ResponsibilityGroupID" value="@Model.ResponsibilityGroupID">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <button type="submit" id="btnSave" name="btnSave" class="btn btn-primary">Save</button>
                <button type="button" id="btnClose" name="btnClose" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("#btnClose").click(popup.closeClick);
        $("#btnSave").click(popup.saveClick);
    });
</script>
