
@{
    ViewData["Title"] = "IndexRespGroupDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Kendo.Mvc.UI
@model Chaka.ViewModels.SystemAdmin.ResponsibilityGroup.IndexRespGroupDetailViewModel


<div class="head-section content-padding">
    <h2 class="page-title">Responsibility Group Detail</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">System Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Responsibility Group Detail</li>
        </ol>
    </nav>
</div>
<div class="container-fluid body-section bg-light-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="content-wrapper">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "general-table-form" }))
                {
                    @Html.ListBox("list-all-item", new List<SelectListItem>())
                    @Html.ListBox("list-check", new List<SelectListItem>())
                    <table class="header-detail">
                        <tr>
                            <td>Code</td>
                            <td>: @Html.DisplayFor(m => m.ResGroupCode)</td>
                        </tr>
                        <tr>
                            <td>Responsibility Group</td>
                            <td>: @Html.DisplayFor(m => m.ResGroupName)</td>
                        </tr>
                    </table>

                    <div class="btn-group">
                        <a href="@Url.Action("Index")" class="btn btn-primary" style="font-size:12px;">Back</a>
                        <a data-id="@Model.ID" href="javascript:;" class="btn btn-primary" id="btnAddNewDetail" style="font-size:12px;"><i class="fa fa-plus"></i> Add New</a>
                        <button type="submit" class="btn btn-primary" id="btnDelete" name="btnDelete"><i class="fa fa-minus"></i> Delete</button>
                    </div>
                    @(Html.Kendo().Grid<Chaka.ViewModels.SystemAdmin.ResponsibilityGroup.ListRespGroupDetailViewModel>()
                        .Name("grid")
                        .Columns(col =>
                        {
                        col.Bound("").ClientHeaderTemplate(@"<input type='checkbox' id='chkAll' onclick='checkAll()'/>")
                        .ClientTemplate(@"<input type='checkbox' class='Check' name='chkDelete' value='#=ID#' data-id='#=ID#' />")
                        .Width(50).HtmlAttributes(new { Class = "check-box-column" });

                        col.Bound("").ClientTemplate("<a data-id='#=ID#' href='javascript:;' class='btn btn-primary  editRow'>Edit</a>").Width(100).Title("").Filterable(false);
                        col.Bound(p => p.Responsibility);

                        })
                        .PersistSelection()
                        .Pageable()
                        .Sortable()
                        .Filterable()
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ListRespGroupDetail", "ResponsibilityGroup", new { headerID = Model.ID, area = "SystemAdmin" }))
                        )
                    )
                }
            </div>
        </div>
        <div id="addEditWindow"></div>
    </div>
</div>
<script type="text/javascript">
    var popup = (function (popup) {
        popup.width = 600;
        popup.createDetailUrl = "@Url.Action("CreateRespGroupDetail")";
        popup.createUrl = "@Url.Action("CreateRespGroupDetail")";
        popup.editUrl = "@Url.Action("EditRespGroupDetail")";
        popup.deleteUrl = "@Url.Action("DeleteRespGroupDetail")";
        popup.createTitle = "Add Responsibility Group Detail";
        popup.editTitle = "Edit Responsibility Group Detail";
        return popup;
    })(popup || {});

</script>
<script src="~/js/modules/pop-up.js"></script>

