@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI

<div class="head-section content-padding">
    <h2 class="page-title">Location</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Organization</a></li>
            <li class="breadcrumb-item active" aria-current="page">Location</li>
        </ol>
    </nav>
</div>

<div class="container-fluid body-section bg-light-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="content-wrapper">

                @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "general-table-form" }))
                {
                    @Html.ListBox("list-all-item", new List<SelectListItem>())
                    @Html.ListBox("list-check", new List<SelectListItem>())

                    <div class="btn-group">
                        <a href="javascript:;" class="btn btn-primary" id="btnAddNew" style="font-size:12px;"><i class="fa fa-plus"></i> Add New</a>
                        <button type="submit" class="btn btn-primary" id="btnDelete" name="btnDelete"><i class="fa fa-minus"></i> Delete</button>
                    </div>
                    @(Html.Kendo().Grid<Chaka.ViewModels.Organization.Location.ListLocationViewModel>
                           ()
                           .Name("grid")
                           .Columns(col =>
                           {
                               col.Bound("").ClientHeaderTemplate(@"<input type='checkbox' id='chkAll' onclick='checkAll()'/>")
                              .ClientTemplate(@"<input type='checkbox' class='Check' name='chkDelete' value='#=ID#' data-id='#=ID#' />")
                              .Width(50).HtmlAttributes(new { Class = "check-box-column" });
                               col.Bound("").ClientTemplate("<a data-id='#=ID#' href='javascript:;' class='btn btn-primary  editRow'>Edit</a>").Width(100).Title("").Filterable(false);
                               col.Bound(p => p.Code).Title("Code");
                               col.Bound(p => p.Name).Title("Name");
                               col.Bound(p => p.Address).Title("Address");
                               col.Bound(p => p.Country).Title("Country");
                               col.Bound(p => p.State).Title("Province");
                               col.Bound(p => p.City).Title("City");
                               col.Bound(p => p.Postalcode).Title("Postal Code");
                               col.Bound(p => p.BeginEff).Title("Start Date").Format("{0:dd MMM yyyy}");
                               //col.Bound(p => p.LastEff).ClientTemplate("#= (LastEff == null) ? ' ' : kendo.toString(LastEff, 'MM/dd/yyyy HH:mm:ss') #").Title("LastEff");
                               col.Bound(p => p.LastEff).Title("End Date").Format("{0:dd MMM yyyy}");
                               col.Bound(p => p.Classification).Title("Classification");
                           })
                                 .PersistSelection()
                                 .Pageable()
                                 .Sortable()
                                 .Filterable()
                                 .DataSource(dataSource => dataSource
                                 .Ajax()
                                 .Read(read => read.Action("List", "Location", new { area = "Organization" }))
                                 )
                    )
                }
            </div>
        </div>
        <div id="addEditWindow"></div>
    </div>
</div>
 
<script>
    var popup = (function (popup) {
        popup.width = 600;
        popup.createUrl = "@Url.Action("Create")";
        popup.editUrl = "@Url.Action("Edit")";
        popup.deleteUrl = "@Url.Action("Delete")";
        popup.createTitle = "Add Location";
        popup.editTitle = "Edit Location";
        return popup;
    })(popup || {});

    function filterCountry() {
        return {
            CountryID: $("#CountryId").val()
            
        };
    }

    function filterCity() {
        return {
            ProvinceId: $("#ProvinceId").val()
        };
    }


</script>
<script src="~/js/modules/pop-up.js"></script>

