@{
    ViewData["Title"] = "Level Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI

<div class="head-section content-padding">
    <h2 class="page-title">Level Category</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Organization</a></li>
            <li class="breadcrumb-item active" aria-current="page">Level Category</li>
        </ol>
    </nav>
</div>

<div class="container-fluid body-section bg-light-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="content-wrapper">

                @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "general-table-form" }))
                {
                    @Html.ListBox("list-all-item", new List<SelectListItem>())
                    @Html.ListBox("list-check", new List<SelectListItem>())

                    <div class="btn-group">
                        <a href="javascript:;" class="btn btn-primary" id="btnAddNew" style="font-size:12px;"><i class="fa fa-plus"></i> Add New</a>
                        <button type="submit" class="btn btn-primary" id="btnDelete" name="btnDelete"><i class="fa fa-minus"></i> Delete</button>
                    </div>
                    @(Html.Kendo().Grid<Chaka.ViewModels.Organization.LevelCategory.ListLevelCategoryViewModel>
                           ()
                           .Name("grid")
                           .Columns(col =>
                           {
                                 col.Bound("").ClientHeaderTemplate(@"<input type='checkbox' id='chkAll' onclick='checkAll()'/>")
                                .ClientTemplate(@"<input type='checkbox' class='Check' name='chkDelete' value='#=ID#' data-id='#=ID#' />")
                                .Width(50).HtmlAttributes(new { Class = "check-box-column" });
                                 col.Bound("").ClientTemplate("<a data-id='#=ID#' href='javascript:;' class='btn btn-primary  editRow'>Edit</a>").Width(100).Title("").Filterable(false);
                                 col.Bound(p => p.Code).Title("Code");
                                 col.Bound(p => p.Name).Title("Name");
                                 col.Bound(p => p.Sequence).Title("Sequence");
                                 col.Bound(p => p.Description);
                                 })
                                 .PersistSelection()
                                 .Pageable()
                                 .Sortable()
                                 .Filterable()
                                 .DataSource(dataSource => dataSource
                                 .Ajax()
                                 .Read(read => read.Action("List", "LevelCategory", new { area = "Organization" }))
                                 )
                    )
                }
            </div>
        </div>
        <div id="addEditWindow"></div>
    </div>
</div>

<script>
    var popup = (function (popup) {
        popup.width = 600;
        popup.createUrl = "@Url.Action("Create")";
        popup.editUrl = "@Url.Action("Edit")";
        popup.deleteUrl = "@Url.Action("Delete")";
        popup.createTitle = "Add Level Category";
        popup.editTitle = "Edit Level Category";
        return popup;
    })(popup || {});
</script>
<script src="~/js/modules/pop-up.js"></script>

