@model Chaka.ViewModels.SystemAdmin.Menu.ListMenuViewModel
@{

    ViewData["Title"] = "Menu Function";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Kendo.Mvc.UI

<div class="head-section content-padding">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">System Admin</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Menu")">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Function</a></li>
        </ol>
    </nav>
</div>

<div class="container-fluid body-section bg-light-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="content-wrapper">
                <table class="table table-responsive">
                    <tr>
                        <th>@Html.LabelFor(m => m.NameENG)</th>
                        <td>@Model.NameENG</td>

                    </tr>
                    <tr>
                        <th>@Html.LabelFor(m => m.Description)</th>
                        <td>@Model.Description</td>

                    </tr>

                </table>
                <a data-id="@Model.ID" href="javascript:;" class="btn btn-primary" id="btnAddNewDetail" style="font-size:12px;"><i class="fa fa-plus"></i> Add New</a>

                @*@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "general-table-form" }))
                {*@
                    @Html.ListBox("list-all-item", new List<SelectListItem>())
                    @Html.ListBox("list-check", new List<SelectListItem>())

                    <div class="btn-group">
                        @*<a href="javascript:;" data-id="@Model.ID" class="btn btn-primary" id="btnAddNewDetail" style="font-size:12px;"><i class="fa fa-plus"></i> Add New</a>*@
                        @*<button type="submit" class="btn btn-primary" id="btnDelete" name="btnDelete"><i class="fa fa-minus"></i> Delete</button>*@
                    </div>
                    @(Html.Kendo().Grid<Chaka.ViewModels.SystemAdmin.Menu.ListMenuFunctionViewModel>
                          ()
                          .Name("gridMapping")
                          .Columns(col =>
                          {
                             
                             
                              //col.Bound("").ClientTemplate("<a data-id='#=ID#' href='javascript:;' class='btn btn-primary  editRow'>Edit</a>").Width(100).Title("").Filterable(false);
                              //col.Bound(p => p.Year).Title("Year");
                              //col.Bound(p => p.Holidays).Title("Holidays");
                              //col.Bound("").ClientTemplate("<input type='checkbox' class='Check' name='chkSave' #=Check ? 'checked':'' # value='#=ID#' data-id='#=ID#'/>");
                              col.Bound(p => p.DescriptionENG);
                              //col.Bound(p => p.Check);
                          })
                                .PersistSelection()
                                .Pageable()
                                .Sortable()
                                .Filterable()
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("ListFunction", "Menu", new { menuID = Model.ID, area = "SystemAdmin" }))
                                )
                    )
                    <br />
                   

                @*}*@
            </div>
        </div>
        <div id="addEditWindow"></div>
    </div>
</div>

<script>
    var popup = (function (popup) {
        popup.width = 1200;
        popup.createDetailUrl = "@Url.Action("CreateMenuDetail")";
        popup.createUrl = "@Url.Action("CreateMenuDetail")";
        popup.createTitle = "Add Menu Detail";
        popup.editTitle = "Edit Menu Detail";
        return popup;
    })(popup || {});
</script>
<script src="~/js/modules/pop-up.js"></script>
