@model Chaka.ViewModels.SystemAdmin.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="auth-container bg-light-grey d-flex justify-content-center align-items-center">
    <div class="auth-box bg-white content-padding">
        <div class="auth-box-wrapper">
            <div class="auth-header">
                <h1>Welcome</h1>
                <div class="logo">
                    <i class="material-icons">spa</i>

                </div>
            </div>
            <div class="auth-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "LoginForm", name = "LoginForm" }))
                {
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.LoginName, new { placeholder = "username", @class = "form-control", autofocus = true })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(x => x.Password, new { placeholder = "password", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <button class="btn-auth" id="btnLogin" name="btnLogin" type="submit">SIGN IN</button>
                    </div>
                </div>
                }
            </div>
            <div class="auth-footer">
                <p>Don't have an account? <a class="txt-indigo" href="./register.html">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>



<script>
    $('#LoginForm').on('submit', function(e){
        e.preventDefault();
        $("#btnLogin").html("<i class='fa fa-circle-o-notch fa-spin'></i> Signing in...");
        $("#btnLogin").attr("disabled", "disabled");
        $.ajax({
            type: "POST",
            url: "@Url.Action("Login")",
            data: $("#LoginForm").serialize(),
            success: function (result) {
                if (result.Message != null) {
                    if (result.IsSuccess) {
                        localStorage.setItem("Bearer", result.BearerToken);
                        var urlIndex = "@Url.Action("Index", "MainMenu")";
                        window.location.href = urlIndex + "?token=" + localStorage.Bearer;

                    } else {
                        alert("login gagal 1" + result.Message);
                         window.location.href = "@Url.Action("Login")";
                    }
                }
            },
            error: function (err) {
                alert("login gagal 2");
                window.location.href = "@Url.Action("Login")";
            }
        });
    });
</script>
